<form
    asp-area="Identity"
    asp-page="/Account/Logout"
    asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"
    method="post"
    id="HeaderForm"
    class="navbar-right">
</form>

