@model Image
@{
    ViewData["Title"] = "Create";
}
<div class="parallax-container" style="height: 300px">
    <div class="section no-pad-bot">
        <div class="container">
            <h1 class="header white-text text-darken-1">Edit your photo</h1>
            <div class="row col blue darken-1">
                <h5 class=" center col s12 white-text">Here you can edit image title and descryption</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="~/images/photographer.jpg" alt="Unsplashed background img 1" style="opacity: 1; transform: translate3d(-50%, 168.122px, 0px);"></div>
</div>
<div class="container-fluid" style="margin-top: -22px; margin-bottom: -22px;">
    <br /><br />
    <div class="container white z-depth-3">
        <br />
        <br />
       
        <img style="width: 100%" src="~/images/userimages/@Model.Src"/>
        
        <br>
        <form method="post" asp-controller="Image" asp-action="Edit" id="Form">
            <div class="row">
                <div class="input-field col s12 m4 l4">
                    <input type="hidden" asp-for="Id" />
                    <textarea asp-for="Title" class="materialize-textarea"></textarea>
                    <label asp-for="Title">Title</label>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="input-field col s12 m8 l8">
                    <input asp-for="Description" type="text" />
                    <label asp-for="Description">Description</label>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="col s12">
                    <p class="center-align">
                        <a id="FormSubmitButton" value="Save" style="position: relative; bottom: -45px;" class="btn btn-floating btn-large waves-effect blue pulse">
                            <i class="material-icons">done</i>
                        </a>
                    </p>
                </div>
            </div>
        </form>
    </div>
    <br />
    <br />
</div>
<br />
<br />



