body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: url("/images/background_dotted.png");
    background-repeat: repeat;
    background-size: 10px 10px;
}
main {
    flex: 1 0 auto;
}

.no-border {
    border: none;
}