body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: url("/images/background_dotted.png");
    background-repeat: repeat;
    background-size: 10px 10px;
}
main {
    flex: 1 0 auto;
}

.no-border {
    border: none;
}

.pointer-cursor:hover{
    cursor: pointer;
}

.hover-opacity:hover {
    filter: brightness(130%);
}

.no-cursor{
    cursor: default;
}

.rounded {
    border-radius: 25px;
}