################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
# was manually edited
################################################################################

#
/.vs
#
/App.DAO/bin/
/App.DAO/obj/
#
/App.Model/bin/
/App.Model/obj/
#
/App.Pagination/bin/
/App.Pagination/obj/
#
/App.Repository/bin/
/App.Repository/obj/
#
/App.Servies/bin/
/App.Servies/obj/
#
/App.TheDate/bin/
/App.TheDate/obj/
#
/App.Validators/bin/
/App.Validators/obj/
#
/App.TheDate/wwwroot/images/userimages
#
/App.Tests/DAO/bin/
/App.Tests/DAO/obj/
#
/Benchmark/obj/
/Benchmark/bin/
#
/App.TheDate/wwwroot/images/userimages/e865fb4d-3126-4d5a-105e-08d6761a8c86a4b454fb617f42019eed95bcef5ff495.jpg
/App.TheDate/wwwroot/images/userimages/9be87db7-3a4f-4e83-fd80-08d67627dd85eec9729aa3de405095b3ba1315dc006b.png
/App.TheDate/wwwroot/images/userimages/9be87db7-3a4f-4e83-fd80-08d67627dd85e58867a3523a483ca03127fdff3abe7f.png
/App.TheDate/wwwroot/images/userimages/9be87db7-3a4f-4e83-fd80-08d67627dd85cacf8a6cfc7e4b9796c0b392a639d350.png
/App.TheDate/wwwroot/images/userimages/9be87db7-3a4f-4e83-fd80-08d67627dd855c6874325bb242329d40727ff500fdc5.jpg
/App.TheDate/wwwroot/images/userimages/9be87db7-3a4f-4e83-fd80-08d67627dd8533d95986e8604d299d235249b639699b.png
/App.TheDate/wwwroot/images/userimages/9be87db7-3a4f-4e83-fd80-08d67627dd85328c962aec954e5a8147d2690b2ac455.jpg
/App.TheDate/wwwroot/images/userimages/7a8ae410-92a2-4202-6fc8-08d6766ae9868355cf87eda1402f88959b81c7f161b9.jpg
/App.TheDate/wwwroot/images/userimages/7a27a40e-ac73-4065-81b6-08d67696fcbd2d825c3667a14d48a49eda3e9808e592.jpg
/App.TheDate/wwwroot/images/userimages/383e88c3-39de-4be6-f8fc-08d67e13fc640bd84ab00e53411aa75fb05c082f73c3.png

/Local.testsettings

