@model User

@{
    ViewData["Title"] = "Add Friend";
    var subheader = new SubHeaderViewModel()
    {
        Title = "Adding new friend",
        TitleIcon = "add",
        Message = "You are sure you want to add a user below to your friends list?",
        MessageColor = "orange-text"
    };
}

@await Html.PartialAsync("_SubHeader", subheader)
<div class="container">
    <div class="row">
        <div class="col s4 offset-l4">
            <div class="card">
                <div class="card-image">
                    <img src="~/images/userimages/@Model.ProfileImageSrc">
                    <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</span>
                </div>
                <div class="card-action grey">
                    <div class="center">
                        <form asp-action="Add" id="Form" asp-route-returnURL="@ViewBag.ReturnURL">
                            <input type="hidden" asp-for="Id" />
                            <a id="FormSubmitButton" value="Invite" class="btn btn-large rounded waves-effect green pulse">
                                <i class="material-icons">check</i>
                            </a>
                            <a href="@ViewBag.ReturnURL" class="btn btn-large rounded waves-effect blue pulse">
                                <i class="material-icons">replay</i>
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
