@inject IUserService _userService
@inject IFriendService _friendService
<!-- Dropdown Structure -->
<ul id='friendshipDropdown' class='dropdown-content'>
    <li>
        <a asp-controller="Friendships" asp-action="Index">My Friends
            <i class="material-icons">group</i>
            <span class="badge">@_friendService.GetUserFriends(_userService.CurrentUserId).Count()</span>
        </a>
    </li>
    <li class="divider" tabindex="-1"></li>
    <li><a asp-controller="Friendships" asp-action="InvitationsSent">Invites Sent<i class="material-icons">redo</i></a></li>
    <li><a asp-controller="Friendships" asp-action="InvitationsReceived">Invites Received<i class="material-icons">undo</i></a></li>
</ul>

<li data-constrainWidth="false">
    <a class='dropdown-trigger tooltipped' data-position="bottom" data-tooltip="Friends" href='#' data-target='friendshipDropdown'>
        <i class="material-icons">
            supervisor_account
        </i>
    </a>
</li>
