@page
<nav> <!-- navbar content here  --> </nav>

<ul id="slide-out" class="right sidenav">
    <li>
        <a><input type="text" id="messageInput" /></a>
    </li>
    <li>
        <a class ="btn" id="sendButton" value="Send Message" >Send</a>
    </li>
    <li>
        <ul id="messagesList"></ul>
    </li>
</ul>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
        <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
        <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
        <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
        <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
        <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
</div>
<a class="btn btn-floating sidenav-trigger" style="top: 50px;" href="#" data-target="slide-out"><i class="material-icons">message</i></a>
<a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>