@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    var rv = ViewContext.RouteData.Values;
    string page = $"{rv["page"]}".ToLowerInvariant();
}

<div class="collection">
    <a class="@(page == "/account/manage/index" ?  "collection-item active" : "collection-item")" asp-page="./Index">Profile</a>
    @*<a class="collection-item active" asp-page="./Index">Profile</a>*@
    <a class="@(page == "/account/manage/changepassword" ?  "collection-item active" : "collection-item")" id="change-password" asp-page="./ChangePassword">Password</a>
    @if (hasExternalLogins)
    {
        <a is-active-route class="collection-item" id="external-login" asp-page="./ExternalLogins">External logins</a>
    }
    <a class="@(page == "/account/manage/twofactorauthentication" ?  "collection-item active" : "collection-item")" asp-page="./TwoFactorAuthentication">Two-factor authentication</a>
    <a class="@(page == "/account/manage/personaldata" ?  "collection-item active" : "collection-item")" asp-page="./PersonalData">Personal data</a>
</div>