@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}


<div class="container center">
    <h2>@ViewData["Title"]</h2>
    <p class="col s12 center-align">
        Thank you for confirming your email.
    </p>
    <i class="material-icons green-text" style="font-size:200px">
        sentiment_satisfied
    </i>
</div>
