@using Microsoft.AspNetCore.Mvc;
@using DatingApplication.Controllers;
@{
    ViewData["Title"] = "DashBoard";
}
<div class="parallax-container">
    <div class="parallax"><img src="~/images/adminbackground1.jpg"></div>
</div>

<div class="row">
    <div class="col s12">
        <h2 class="header">Option List</h2>
        <p class="grey-text text-darken-3 lighten-3">This is list of opptions for admin to controll application.</p>

    </div>
</div>
<div class="row">
    <div class="col s12">
        <table>
            <tbody>
                <tr>
                    <td> <a asp-controller="Interest" asp-action="Index">Interest GUI</a> </td>
                </tr>
                <tr>
                    <td> <a asp-controller="Interest" asp-action="Index">Interest GUI</a> </td>
                </tr>
                <tr>
                    <td> <a asp-controller="Interest" asp-action="Index">Interest GUI</a> </td>
                </tr>
                <tr>
                    <td> <a asp-controller="Interest" asp-action="Index">Interest GUI</a> </td>
                </tr>
                <tr>
                    <td> <a asp-controller="Interest" asp-action="Index">Interest GUI</a> </td>
                </tr>
                <tr>
                    <td> <a asp-controller="Interest" asp-action="Index">Interest GUI</a> </td>
                </tr>
                <tr>
                    <td> <a asp-controller="Interest" asp-action="Index">Interest GUI</a> </td>
                </tr>
                <tr>
                    <td> <a asp-controller="Interest" asp-action="Index">Interest GUI</a> </td>
                </tr>
                <tr>
                    <td> <a asp-controller="Interest" asp-action="Index">Interest GUI</a> </td>
                </tr>
                <tr>
                    <td> <a asp-controller="Interest" asp-action="Index">Interest GUI</a> </td>
                </tr>
            </tbody>
        </table>
        
    
</div>

@*<div class="row">
    <div class="col s12">
        <ul class="collapsible col s12 m6 l6 grey darken-2">
            <li class="">
                <br />
                <div class="collapsible-header blue yellow-text"><i class="material-icons">filter_drama</i>Interests</div>
                <div class="collapsible-body white"><span>Lorem ipsum dolor sit amet.</span></div><br />
            </li>
        </ul>
        <ul class="collapsible col s12 m6 l6 grey darken-2">
            <li class="">
                <br />
                <div class="collapsible-header blue yellow-text"><i class="material-icons">filter_drama</i>Interests</div>
                <div class="collapsible-body white"><span>Lorem ipsum dolor sit amet.</span></div><br />
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <ul class="collapsible col s12 m6 l6 grey darken-2">
            <li class="">
                <br />
                <div class="collapsible-header blue yellow-text"><i class="material-icons">filter_drama</i>Interests</div>
                <div class="collapsible-body white"><span>Lorem ipsum dolor sit amet.</span></div><br />
            </li>
        </ul>
        <ul class="collapsible col s12 m6 l6 grey darken-2">
            <li class="">
                <br />
                <div class="collapsible-header blue yellow-text"><i class="material-icons">filter_drama</i>Interests</div>
                <div class="collapsible-body white"><span>Lorem ipsum dolor sit amet.</span></div><br />
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <ul class="collapsible col s12 m6 l6 grey darken-2">
            <li class="">
                <br />
                <div class="collapsible-header blue yellow-text"><i class="material-icons">filter_drama</i>Interests</div>
                <div class="collapsible-body white"><span>Lorem ipsum dolor sit amet.</span></div><br />
            </li>
        </ul>
        <ul class="collapsible col s12 m6 l6 grey darken-2">
            <li class="">
                <br />
                <div class="collapsible-header blue yellow-text"><i class="material-icons">filter_drama</i>Interests</div>
                <div class="collapsible-body white"><span>Lorem ipsum dolor sit amet.</span></div><br />
            </li>
        </ul>
    </div>
</div>*@




