@model Enties.Message
@inject IUserService _userService
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col s12 m12 12">
            <div class="card-panel">
                <h4 class="header2">New Message</h4>
                <div class="row">
                    <form asp-action="Create" id="Form">
                        <div class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="input-field col s12">
                                <i class="mdi-action-account-circle prefix"></i>
                                <input type="hidden" asp-for="ID" />

                                <input asp-for="Content" class="form-control" />
                                <label asp-for="Content" class="control-label"></label>
                                <span asp-validation-for="Content" class="text-danger"></span>
                            </div>



                            <div class="input-field col s12">
                                <select asp-for="ConversationID">
                                    <option value="" disabled selected>Choose your conversation id</option>
                                    <option value="">Create New</option>
                                    @foreach (var x in ViewBag.UserConversations)
                                    {
                                        <option value="@x.ID">
                                            @if (x.Name == null)
                                            {
                                                <text>Following users conversation: </text>
                                                @foreach (var u in x.ConversationUsers)
                                                {
                                                    <text> @_userService.Get(u.UserID).FirstName </text>
                                                }
                                            }
                                            else { @x.Name; }
                                        </option>
                                    }
                                </select>
                                <label>Materialize Select</label>
                            </div>
                        </div>
                        <a id="FormSubmitButton" value="Create" class="btn btn-floating btn-large waves-effect blue">
                            <i class="material-icons">done</i>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

