<div class="container">
    <h4>Conversations</h4>
    <ul class="" id="conversation-list"></ul>
    @*TODO leci zapytanie do api z api leca konwersacje*@


</div>


<script>
    $.ajax({
        url: "/api/Conversation/GetUserConversations",
        headers: { "Accept": "application/json;" },
        success: function (result) {
            $("#conversation-list").html(result);
        },
        error: function (data) {
            failure(data);
        }
    });

    function failure(data) {
        alert(data);
    }
</script>

