<footer class="page-footer my-wrapper grey darken-4 z-depth-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="red-text text-lighten-2">The Date</h5>
                <p class="grey-text text-darken-2">Internet portal for people looking for happiness</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="red-text text-lighten-2">Author</h5>
                <ul class="hover-blue">
                    <li><a class="grey-text text-darken-2 hover-opacity" href="https://www.linkedin.com/in/krystian-rytel-85514b145/">Krystian Rytel</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container blue-text center">
            <a class="blue-text" href="https://www.linkedin.com/in/krystian-rytel-85514b145/"><img src="" /> © 2018 - 2019 Krystian Rytel,</a>
            <a class="blue-text" href="https://www.uph.edu.pl/en/university/faculties-and-departments"><img src="" /> Siedlce University of Natural Sciences and Humanities</a>
        </div>
    </div>
</footer>
