<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@*<viewdata name="Title"></viewdata>*@ @ViewData["Title"] - DatingApplication</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <partial name="_Styles" />
</head>
<body>
    <header style="z-index: 9999">
        <partial name="Navbar/_NavBar" />
        <partial name="Navbar/_MobileNavBar" />
    </header>
    <main>
        @RenderBody()
    </main>
    <partial name="_Footer" />
    @RenderSection("Scripts", required: false)
    <partial name="_Scripts" />

</body>
</html>