@model ImageComment

@{
    ViewData["Title"] = "Add Image Comment";
}
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col s12 m12 12">
            <div class="card-panel">
                <h4 class="header2">Interest Create</h4>
                <div class="row">
                    <form asp-action="Create" asp-route-returnURL="@ViewBag.ReturnURL" id="Form">
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="CommentedItemId" />
                        <input type="hidden" asp-for="CreatorId" />
                        <div class="row">
                           
                            <div class="input-field col s12">
                                <i class="mdi-action-account-circle prefix"></i>
                                <label asp-for="Content" class="control-label"></label>
                                <input asp-for="Content" class="form-control" />
                                <span asp-validation-for="Content" class="text-danger"></span>
                            </div>
                        </div>
                        <a id="FormSubmitButton" value="Create" class="btn btn-floating btn-large waves-effect blue">
                            <i class="material-icons">done</i>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a href="@ViewBag.ReturnURL">Back to List</a>
    </div>
</div>

