<!-- Dropdown Structure -->
@*<ul id='messageDropdown' class='dropdown-content' data-constrainWidth="false">
    <li>
        <a asp-controller="Message" asp-action="Conversation">
            Conversations
            <i class="material-icons">list</i>
        </a>
    </li>
    <li>
        <a asp-controller="MessageForm" asp-action="Create">
            New Message
            <i class="material-icons">add</i>
        </a>
    </li>
</ul>*@
<li data-constrainWidth="false">
    <a 
        class='@*dropdown-trigger*@ tooltipped'
        data-position="bottom"
        data-tooltip="Messages"
        @*data-target='messageDropdown'*@
        asp-controller="Conversations"
        asp-action="Index"
    >
        <i class="material-icons">
            message
        </i>
    </a>
</li>

