@using Microsoft.AspNetCore.Identity
@using App.Service.Abstract

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IUserService _profileService

<ul class="sidenav" id="mobile-nav">
    <li>
        <div class="user-view">
            <div class="background red lighten-2">

            </div>
            @if (User.Identity.IsAuthenticated)
            {
                @if (!await _profileService.IsFilledAsync(Guid.Parse(UserManager.GetUserId(User))))
                {
                    <p class="yellow-text lighten-3"><i class="material-icons">warning</i>Your profile details is not filled jet</p>
                    <a class="white-text" asp-area="" asp-controller="Manage" asp-action="Index" title="Manage"><i class="material-icons">assignment_ind</i> Welcome @UserManager.GetUserName(User)</a>
                }
                else
                {
                    <a href="#user"><img class="circle" src="https://materializecss.com/images/yuna.jpg"></a>
                    <a href="#name"><i class="material-icons right">warning</i></a>
                    <a class="white-text" asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">@UserManager.GetUserName(User) </a>
                }
            }
            else
            {
                <a href="#user"><img class="circle" src="https://materializecss.com/images/yuna.jpg"></a>
                <a href="#name"><span class="white-text name">You are not loged guest</span></a>
            }
        </div>
    </li>
    <li><a class="waves-effect" asp-area="" asp-controller="Home" asp-action="Index"><i class="left material-icons">home</i> Home</a></li>
    <li><a class="waves-effect" asp-area="" asp-controller="Home" asp-action="About"><i class="left material-icons">info</i> About</a></li>
    <li><a class="waves-effect" asp-area="" asp-controller="Home" asp-action="Contact"><i class="left material-icons">phone</i> Contact</a></li>
    <li><a class="waves-effect" asp-area="" asp-controller="Profiles" asp-action="Index"><i class="left material-icons">group</i> Profiles</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Account</a></li>
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="nav-wrapper">
            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                <li><a class="waves-effect" asp-area="" asp-controller="UserAccount" asp-action="CurrentUserDetails">Your Account <i class="right material-icons">account_box</i> </a></li>
                <li><a class="waves-effect" id="logoutFormButton">Log out <i class="right material-icons">power_settings_new</i></a></li>
            </form>
        </div>
    }
    else
    {
        <li><a class="waves-effect" asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a class="waves-effect" asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    }

</ul>
