@inject SignInManager<User> SignInManager

@if (@Url.RouteUrl(ViewContext.RouteData.Values) == "/")
{
    <div class="navbar-fixed">
        <nav class="z-depth-1" style="background-color: rgba(0, 0, 0, 0.1);">
            <div class="nav-wrapper ">
                <a asp-controller="Home" asp-action="Index" class="brand-logo center" style="font-size: 3vw">
                    <i class="material-icons left" style="font-size: 3vw; margin-top:1px;">
                        favorite_border
                    </i>
                    The Date
                    <i class="material-icons right" style="font-size: 3vw; margin-top:1px;">
                        favorite
                    </i>
                </a>
                <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down inline">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        @await Html.PartialAsync("Navbar/Dropdown/_Profile")
                        @await Html.PartialAsync("Navbar/Dropdown/_Friendship")
                        @await Html.PartialAsync("Navbar/Dropdown/_Messages")
                        @await Html.PartialAsync("Navbar/Dropdown/_Settings")
                        @await Html.PartialAsync("Navbar/_LogOut")
                    }
                    else
                    {
                        <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
                        <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
                    }
                </ul>
            </div>
        </nav>
    </div>
}
else
{
    <div class="navbar-fixed">
        <nav class="">
            <div class="nav-wrapper ">
                <a asp-controller="Home" asp-action="Index" class="brand-logo center" style="font-size: 3vw">
                    <i class="material-icons left" style="font-size: 3vw; margin-top:1px;">
                        favorite_border
                    </i>
                    The Date
                    <i class="material-icons right" style="font-size: 3vw; margin-top:1px;">
                        favorite
                    </i>
                </a>
                <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="left hide-on-med-and-down">
                    @await Html.PartialAsync("Navbar/_Explore")
                </ul>
                <ul id="nav-mobile" class="right hide-on-med-and-down inline">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        @await Html.PartialAsync("Navbar/Dropdown/_Profile")
                        @await Html.PartialAsync("Navbar/Dropdown/_Friendship")
                        @await Html.PartialAsync("Navbar/Dropdown/_Messages")
                        @await Html.PartialAsync("Navbar/Dropdown/_Settings")
                        @await Html.PartialAsync("Navbar/_LogOut")
                    }
                    else
                    {
                        <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
                        <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
                    }
                </ul>
            </div>
        </nav>
    </div>
}

