<li class="tooltipped" data-position="bottom" data-tooltip="Explore">
    <a class="pulse" asp-controller="Explore" asp-action="Index">Explore
        <i class="left material-icons">person_add</i>
    </a>
</li>
