@inject SignInManager<User> SignInManager
<nav>
    <div class="nav-wrapper">
        <a asp-controller="Home" asp-action="Index" class="brand-logo center" style="font-size: 25px">
            <i class="material-icons left" style="font-size: 25px; margin-top:1px;">
                favorite_border
            </i>
            The Date
            <i class="material-icons right" style="font-size: 25px; margin-top:1px;">
                favorite
            </i>
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="left hide-on-med-and-down">
            <li class=""><a asp-controller="Explore" asp-action="Index"><i class="material-icons left">search</i> Explore</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <partial name="Navbar/_LogOut" />
            @if (SignInManager.IsSignedIn(User))
            {
                <partial name="Navbar/Dropdown/_Profile" />
                <partial name="Navbar/Dropdown/_Friendship" />
                <partial name="Navbar/Dropdown/_Messages" />
                <partial name="Navbar/Dropdown/_Settings" />
            }
            else
            {
                <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
                <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
            }
        </ul>
    </div>
</nav>

