<li data-constrainWidth="false">
    <a 
        class='@*dropdown-trigger*@ tooltipped'
        data-position="bottom"
        data-tooltip="Messages"
        @*data-target='messageDropdown'*@
        asp-controller="Conversations"
        asp-action="Index"
    >
        <i class="material-icons">
            message
        </i>
    </a>
</li>

