
<!-- Dropdown Structure -->
<ul id='userSettingsDropdown' class='dropdown-content' data-constrainWidth="false">
    <li class="divider" tabindex="-1"></li>
    <li>
        <a id="HeaderFormSubmitButton" onclick="$('#HeaderForm').submit()" value="Logout">Logout<i class="material-icons">power_settings_new</i></a>
    </li>
    <li>
        <a data-position="bottom" asp-area="Identity" asp-page="/Account/Manage/Index">Settings<i class="material-icons">settings</i></a>
    </li>
</ul>
<li  class="center" style="width: 80px;">
    <a class='dropdown-trigger tooltipped no-autoinit' id="settingsDropdownTrigger" data-constrainWidth="false" data-position="bottom" data-tooltip="Settings" href='#' data-target='userSettingsDropdown'>
        <i class="material-icons">settings</i>
    </a>
</li>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        $('#settingsDropdownTrigger').dropdown({
            constrainWidth: false
        });
    });
</script>
